ul {
    display: flex;
    /* flex-direction: row; */
    flex-flow: wrap;
    justify-content: space-around;
    list-style: none;
}
li {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    margin: 30px;
    padding: 20px 20px 50px;
}
span.i-html {
	background: url('./0-sprite.png') no-repeat -30px -40px;
	width: 221px;
    height: 311px;
    display: block;
    margin: 30px;
}
span.i-css {
    background: url('./0-sprite.png') no-repeat -320px -40px;
	width: 221px;
	height: 311px;
    display: block;
    margin: 30px;
}
span.i-js {
    background: url('./0-sprite.png') no-repeat -609px -40px;
	width: 221px;
	height: 311px;
    display: block;
    margin: 30px;
}
